.overlay {
  position: fixed;
  inset: 0; 
  width: 100%;
  min-height: 100vh;
  background: rgba(10, 10, 20, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  /* Safari & iOS support */
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 1000;
} 

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 550px;
  background: rgba(25, 20, 50, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 24px;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.text {
    text-align: center;
}

.separator {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0;
  margin-bottom: 1.5rem;
}

.icon {
  width: 4rem;
  height: 4rem;
}

.closeBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.closeBtn:hover {
  color: #ff6666;
}

.submissionArea {
  margin: 1rem;
  width: 100%;
  display: flex;
  gap: 1rem;
}

.CancelBtn {
  width: 50%;
  background: #5850bb;
}

.SubmitBtn{
  width: 50%;
  border: 1px solid #6f67f0;
}