# Ignore Python cache directories
backend-env/
venv/
env/
.env
__pycache__/
*.pyc
**/__pycache__/
*.py[cod]
*.pyo

frontend/node_modules/
frontend/build/

.DS_Store
.vscode/
.idea/
*.log

backend/Lib/