BEGIN;

-- Running downgrade 716cf62cc645 -> 092855949216

ALTER TABLE users DROP COLUMN last_login_notification_sent;

ALTER TABLE users DROP COLUMN last_profile_reminder_sent;

ALTER TABLE users DROP COLUMN last_job_match_sent;

ALTER TABLE users DROP COLUMN last_digest_sent;

ALTER TABLE users DROP COLUMN digest_interval_minutes;

UPDATE alembic_version SET version_num='092855949216' WHERE alembic_version.version_num = '716cf62cc645';

COMMIT;

