.resume-preview{
    width: 816px;
    height: 1056px;
    background-color: rgba(255, 250, 224, 0.8);
    color: black;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 16px;
    width: 1000px;
}

.divider{
    background-color: black;
    border: none;
    height: 2px;
}