.resumeWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.resumeScaler {
    display: inline-block;
}

.resume-preview {
    width: 816px;
    height: 1056px;
    background: white;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 20px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.viewBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* ~~~~~~~~~~~~~~~~ RESUMETEMPLATE STYLES BELOW ~~~~~~~~~~~~~~~~ */

.headerName {
    font-size: 40px;
}


.divider {
    background-color: black;
    border: none;
    height: 2px;
}

.dividerSmall {
    background-color: black;
    border: none;
    height: 2px;
    width: 95%;
}

.sectionTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-left: 40px;
    padding-bottom: 2px;
    text-align: left;
}

.entry {
    margin: 0 50px 10px 50px;
}

.entryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entryTitle {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.entryLink a {
    font-size: 0.9em;
    color: #007bff;
    text-decoration: none;
    white-space: nowrap;
}

.entryLink a:hover {
    text-decoration: underline;
}

.entryDescription {
    display: flex;
    flex-direction: row;
    align-items: start;
    text-align: left;

    margin-top: 2px;
}

.miscSection {
    margin: 0 50px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.miscSection p {
    margin: 1px;
    word-spacing: 5px;
    margin-top: 5px;
}

.projects,
.experience,
.education,
.misc {
    margin-bottom: 25px;
    font-size: 18px;
}


@media (max-width: 600px) {

    .resumeScaler {
        transform: scale(0.65);
    }

    .headerName {
        font-size: 26px;
        text-align: center;
    }

    .sectionTitle {
        font-size: 16px;
        margin-left: 10px;
    }

    .entry {
        margin: 0 10px 15px 15px;
    }

    .entryHeader {
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }

    .entryTitle {
        font-size: 14px;
    }

    .entryDescription,
    .miscDescription {
        flex-direction: column;
        text-align: left;
        margin-top: 4px;
    }

    .projects,
    .experience,
    .education,
    .misc {
        font-size: 15px;
    }
}

@media (max-width: 900px) {
    .resumeScaler {
        transform: scale(0.85);
    }
}