.resume-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.location-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 3px;
}

.location-validation{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.job-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 110px;
    padding-bottom: 40px;
}

.school-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 110px;
    padding-bottom: 30px;
}

.project-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 110px;;
    padding-top: 25px;
    padding-bottom: 40px;
}

@media (max-width: 1450px) {
    .school-form, .job-form, .project-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1550px){
    .location-form, .location-validation{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .location-validation{
        gap: 0px;
    }
}