.resume-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    transition: height 0.35s ease;
    overflow: hidden;
}

.location-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 3px;
}

.location-validation{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.job-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 110px;
    height: auto;
    /* padding-bottom: 40px; */
}

.job-validation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 45px;
    margin-right: 15px;
    padding-bottom: 40px;
}

.school-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: auto;
    /* padding-bottom: 30px; */
}

.school-validation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-right: 15px;
    padding-bottom: 30px;
}

.project-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: auto;;
    padding-top: 25px;
    padding-bottom: 40px;
}

@media (max-width: 1450px) {
    .school-form, .job-form, .project-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1550px){
    .location-form, .location-validation{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .location-validation{
        gap: 0px;
    }
}