.circleWrapper {
  text-align: center;
  display: inline-block;

}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.innerCircle {
  background: #1e1b36;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.percentText {
  font-size: 20px;
  font-weight: bold;
}

.matchLabel {
  margin-top: 20px;
  color: #ffffff;
  font-size: 18px;
}
