.btn {
    display: flex;
    justify-content: center;  /* centers horizontally */
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 8px;
    background: #2d2b55;
    border-color: #b8b8e0;
    height: 2.3rem;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.25s ease;
    box-shadow: 0 2px 6px rgba(142, 197, 252, 0.15);
}

.btn:hover {
    background: #6f67f0;
    border: 1px solid #2d2b55;
    box-shadow: 0 3px 10px rgba(142, 197, 252, 0.22);
}