.CTA {
    display: flex;
    justify-content: center;  /* centers horizontally */
    align-items: center;
    gap: 5px;
    padding: 10px 24px;
    background:  #2d2b55;
    border: 1px solid #6f67f0;
    border-radius: 8px;
    height: 2.8rem;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(142, 197, 252, 0.3);
}

.CTA:hover {
    box-shadow: 0 6px 16px rgba(142, 197, 252, 0.4);
    background: linear-gradient(90deg, #ff66c4, #6f67f0, #4839eb);
}
