.switch{
  width: 50px;
  height: 28px;
  background: #ccc;
  border-radius: 999px;
  border: none;
  padding: 2px;
  cursor: pointer;
  position: relative;
  transition: background 0.25s ease;
  min-width: 50px;
}

.switch.on {
  background: #6f67f0; /* green */
}

.switchHandle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 50%;
  transition: transform 0.25s ease;

}

/* Move handle when ON */
.switch.on .switchHandle {
  transform: translateX(22px);
}

.switchInner {
  display: none;
}



@media (max-width: 400px) {
  .switch {
    width: 45px;
    height: 26px;
  }

  .switchHandle {
    width: 22px;
    height: 22px;
  }

  .switch.on .switchHandle {
    transform: translateX(21px);
  }
}


@media (max-width: 350px) {
  .switch {
    width: 38px;
    height: 20px;
  }

  .switchHandle {
    width: 16px;
    height: 16px;
  }

  .switch.on .switchHandle {
    transform: translateX(16px);
  }
}


@media (max-width: 300px) {
  .switch {
    width: 32px;
    height: 18px;
  }

  .switchHandle {
    width: 14px;
    height: 14px;
  }

  .switch.on .switchHandle {
    transform: translateX(14px);
  }
}


@media (max-width: 260px) {
  .switch {
    transform: scale(0.85);
    transform-origin: left center;
  }
}


@media (max-width: 220px) {
  .switch {
    width: 28px;
    height: 16px;
    padding: 2px;
  }

  .switchHandle {
    width: 12px;
    height: 12px;
    top: 2px;
    left: 2px;
  }

  .switch.on .switchHandle {
    transform: translateX(12px);
  }
}
