.switch{
  width: 50px;
  height: 28px;
  background: #ccc;
  border-radius: 999px;
  border: none;
  padding: 2px;
  cursor: pointer;
  position: relative;
  transition: background 0.25s ease;
}

.switch.on {
  background: #6f67f0; /* green */
}

.switchHandle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 50%;
  transition: transform 0.25s ease;
}

/* Move handle when ON */
.switch.on .switchHandle {
  transform: translateX(22px);
}

.switchInner {
  display: none;
}