

.container {
  width: 100%;
  margin: 0;
  padding: 20px;
  min-height: calc(100vh - var(--nav-h) - 120px);
  background: rgba(20, 15, 40, 0.75);
  border-radius: 10px;

}


.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.message {
  text-align: center;
  color: #ccc;
}

.error {
  color: #ff6b6b;
  text-align: center;
}

.tableContainer {
  display: grid;
  gap: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow-x: auto; 

}

/* .headerRow,
.dataRow {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1.5fr 1.2fr 0.8fr 1fr 1.5fr 2fr 1.5fr;
  padding: 10px;
  gap: 30px;
  border-bottom: 1px solid #ccc;
  align-items: center;
  
} */

.headerRow {
  display: grid;
  grid-template-columns: 150px 120px 120px 100px 60px 100px 150px 200px 150px;
  gap: 23px;
  padding: 10px;
  font-weight: bold;
  background: rgba(73, 73, 73, 0.8);
  color: white;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  position: sticky;
  top: 0;
  z-index: 1;
}

.dataRow {
  display: grid;
  grid-template-columns: 150px 120px 120px 100px 60px 100px 150px 200px 150px;
  gap: 23px;
  padding: 8px;
  border-bottom: 1px solid rgba(255,255,255,0.05);
  color: rgb(255, 255, 255);
}

.dataRow:nth-child(even) {
  background: rgba(255, 255, 255, 0.09);
  /* background:rgba(20, 15, 40, 0.2);  */
}

.dataRow span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainContentGlass::-webkit-scrollbar {
  height: 8px;
}





