.progress-container{
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
}

.progress-bar{
    background-color: white;
    height: 20px;
    border-radius: 20px;
    border: 1px solid ;
    box-shadow: 0px 8px 24px rgba(0,0,0,0.3);
}