.container {
  width: 100%;
  min-height: calc(100vh - var(--nav-h) - 120px);
  border-radius: 10px;

}

.settingContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    box-sizing: border-box;
    align-items: center;
    padding: 3rem;
    background: rgba(20, 15, 40, 0.75);
    height: 100vh;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    transition: all 0.3s ease;
}

.loginSection, .alertsPreference {
  width: 100%;
}

.email,
.password,
.deleteAccount,
.jobAlerts {
  margin:1.2rem 0 0 0;
}

.password, .deleteAccount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.password {
  margin: 1.5rem 0;
}

.title {
  margin-bottom: 0.3rem;
  font-size:1.2rem;
  letter-spacing:0.2px;
}

.label {
  margin:0 0 6px 0;
  font-size: 1rem;
  color: #ffffff;
}

.email,
.password,
.deleteAccount,
.jobAlerts .description {
  margin: 0;
  color: #9aa4b2;
}


.separator {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0;
  margin-bottom: 1.5rem;
}


.setBtn {
  padding: 10px 24px;
  background:  #2d2b55;
  border: 1px solid #6f67f0;
  border-radius: 8px;
  height: 2.5rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(142, 197, 252, 0.3);
}
 

.setBtn:hover {
  box-shadow: 0 6px 16px rgba(142, 197, 252, 0.4);
  background: linear-gradient(90deg, #ff66c4, #6f67f0, #4839eb);
}

.switch{
  width: 50px;
  height: 28px;
  background: #ccc;
  border-radius: 999px;
  border: none;
  padding: 2px;
  cursor: pointer;
  position: relative;
  transition: background 0.25s ease;
}

.switch.on {
  background: #4ade80; /* green */
}

.switchHandle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 50%;
  transition: transform 0.25s ease;
}

/* Move handle when ON */
.switch.on .switchHandle {
  transform: translateX(22px);
}

.switchInner {
  display: none;
}
